*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%


}
body{
    background-color: 181818;
    overflow-x: hidden;
}
.mousefollower{
    border: 2px solid #fff;
    background-color: #fff;
    scale: 2;
    /* z-index: 9999; */
    mix-blend-mode: difference;
}
#loader{
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 999;
    padding: 7vw;

}
#main{
    position: relative;
    background-color: #181818;
    color: #fff;
}
.line{
    overflow: hidden;
    line-height: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    /* background-color: red; */
}
.line h1{
    font-size: 7vw;
    color: #fff;
    text-transform:uppercase;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    /* background-color: red; */
}
#part1-line1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#part1-line1 h5,#part1-line1 h6{
    color: #fff;
    font-size: 3vw;
    font-weight: 100;
    
}
.line h2{
    font-size: 6vw;
    color: #fff;
    text-transform:uppercase;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    opacity: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: #000;
        font-weight: 500;
        opacity: 1;
        color: #fff;
    }
    47%{
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: #000;
        font-weight: 500;
        opacity: 0;
        color: #fff;
    }
    50%{
        font-family: Georgia, 'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
        color: #fff;
    }
    100%{
        font-family: Georgia, 'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
        color: #fff;
    }
    
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #181818;
    overflow: hidden;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw 4vw;
    margin-bottom: 60px;
}
#page1 #nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
#nav-part1 h3{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    /* background-color: red; */
    width: 72%;

    margin-left: 28%;
    height: fit-content;
    overflow-y: hidden;
    
    display: flex;
    align-items: center;
    
    

}
.hero h1{
    font-size: 7.2vw;
    z-index: 9999;

    line-height: 7vw;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;   
    position: relative; 
}
#hero1::before{
    content:"01";
    font-style: italic;
    position: absolute;
    font-size: 3.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    left: 22%;
    top: 28%;
}


.hero h2{
    font-size: 7.2vw;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500; 
    border-bottom: 0.4vw solid #fff;   
    /* transition: all ease 0.3s; */
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.4vw solid #ffffff00;
}
 #page2{
    height: 100vh;
    width: 100%;
    background-color: #181818;
}
#video-div {
    height: 65vh;
    width: 70vw;
    position: relative;
    left:29%;
    background-color: antiquewhite;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center; 
}
#video-cursor{
    background-color: #ffa63d;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    position: absolute;
    top:-16%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
}
#video-cursor i{
    font-size: 2vw;
}
#video-div img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top:0;
}
#video-div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #746c6c; */
    position: relative;
    padding: 17vh  2vw;
    margin-bottom: 20vh;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: 28vw;
}
#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.image-div{
    height: 38vw;
    width: 27vw;
    flex-shrink: 0;
    margin: 2vw;
    position: relative;
    overflow: hidden;
    /* background-color: blue; */
}
.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1{
    position: relative;
    height: 25vw;
    width: 25vw;
    border: 2px solid #dadada;
    border-radius: 50%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 31vh;
}
.page3-circle1 svg{
    height: 30%;

}


.page3-circle2{
    position: relative;
    height: 25vw;
    width: 25vw;
    border: 2px solid #dadada;
    border-radius: 50%;
    /* background-color: #ffa63d; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10vw;
    margin-top: 31vh; */
}
.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;

}
.circle-in{
    position: absolute;
    height: 100%;
    width: 100%;
    scale: 0;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    border-radius: 50%;
}
.circle-in p{
    font-size: 1vw;
    color: black;
    width: 70%;
    font-weight: 500;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.5s;
    opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
    
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
    
}
.page3-circle2:hover .circle-in{
    scale: 1;
    
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #181818;
    position: relative;
    padding: 1vh;
}
#page4-container {
    width: 72vw;
    margin-left: 28%;
    position: relative;
}
#page4-container h1{
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
#page4-container h1::before{
    content:"03";
    font-style: italic;
    position: absolute;
    font-size: 3.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    left: -10%;
    top: 10%;

    
}
 .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 2vw;
    margin-bottom: 4vw;
 } 
 #page4-container>p{
    width: 50%;
    font-size: 2.25vw;
    margin-bottom: 4vw;
 }
 #page4-flex{
    display: flex;
    height: 100%;
    width: 100%;
 }
 #page4-flex img{
    height: 100%;
    width: 45%;
    object-fit: cover;
 }
 #page4-flex p{
    font-size: 1vw;
    width: 25%;
    line-height: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
 }
 #page4-blue-div{
    height: fit-content;
    width: 60%;
    background-color: #3f7df4;
    position: relative;
    margin-top: -20vh;
    margin-left: 22vw;
    padding: 3.5vw 3.5vw;
    margin-bottom: 20vh;
    
 }
 .blue-div-elem h4{
    width: 15vw;
    font-size: 1.8vw;
    font-weight: 500;

 }
 .blue-div-elem{
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #ffa63d; */
    border-bottom: 1px solid #ffffffa7;
    padding: 2vw 0vw;
    
   
 }
 #page5{
    min-height: 100vh;
    width: 100%;
    background-color: #181818;
    position: relative;
    
 }
 .elem {
    /* background-color: #ffa63d; */
    white-space: nowrap;
    overflow-x: hidden;
 }
 .elem h1{
    font-size: 7vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: slide;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }

 @keyframes slide {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translate(calc(-100% - 16px));
    }
 }
 .elem2 {
    /* background-color: #ffa63d; */
    white-space: nowrap;
    overflow-x: hidden;
 }
 .elem2 h1{
    font-size: 7vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: slide1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 @keyframes slide1 {
    100%{
        transform: translateX(0%);
    }
    0%{
        transform: translate(calc(-100% - 16px));
    }
 }
 span{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #footer{
    height: fit-content;
    width: 100%;
    background-color: #181818;
    position: relative;
 }
#footer-content{
    min-height: fit-content;
    width: 70%;
    /* background-color:rgb(84, 82, 82); */
    position: relative;
    margin-left: 27%;
}
#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#footer h1:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}
#footer h1::before{
    content:"04";
    font-style: italic;
    position: absolute;
    font-size: 3.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    left: -10%;
    top: 10%;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.box h6 {
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 4vh;
    margin-top: -2vh;
}
.box h5:hover{
    -webkit-text-stroke: 0.3px #fff;
    color: transparent;
    
}
#footer-div .box h5{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.box:nth-child(2){
    margin-left: 10vw;
}
.box:nth-child(3){
    margin-right: 7vw;
}
.box{
    margin-bottom: 6vh;
}
#footer-content h3{
    position: relative;
    padding-top: -15vw;
    padding-bottom: 5vh;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

._canvas_container{    
    z-index: 9999 !important;
    pointer-events: none;
}


#flag{
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#hero3 {
    position: relative;
    z-index: 9999;
}